<h1>ポジション一覧 - <%= @date %></h1>

<% @schedules_by_time_slot.each do |time_slot, schedules| %>
  <h2><%= Schedule::TIME_SLOTS[time_slot]&.first || '未定義のタイムスロット' %></h2>
  <table>
    <tr>
      <th>ポジション名</th>
      <th>キャスト名</th>
      <th>操作</th> <!-- 追加する列 -->
    </tr>
    <% @positions.each do |position| %>
      <tr>
        <td><%= t("activerecord.attributes.position.#{position.position_name}") %></td>
        <td>
          <% assigned_schedule = schedules.find { |schedule| schedule.position_id == position.id } %>
          <%= assigned_schedule ? assigned_schedule.cast.full_name : '' %>
        </td>
        <td>
          <% if assigned_schedule %>
            <%= link_to '外す', remove_position_schedule_schedule_path(assigned_schedule), data: { turbo_method: :delete }, class: 'btn' %>
          <% else %>
            <%= link_to '配置', new_position_schedule_schedules_path(position_id: position.id, date: @date, time_slot: time_slot), class: 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>