<%# positions/index.html.erb %>
<h1>ポジション一覧 - <%= @date %></h1>

<% @schedules_by_time_slot.each do |time_slot, schedules| %>
  <h2><%= Schedule::TIME_SLOTS[time_slot]&.first || '未定義のタイムスロット' %></h2>
  <table>
    <tr>
      <th>ポジション名</th>
      <th>キャスト名</th>
      <% if can?(:create, Schedule) || can?(:destroy, Schedule) %>
        <th>操作</th>
      <% end %>
    </tr>
    <% @positions.each do |position| %>
      <tr>
        <td><%= t("activerecord.attributes.position.#{position.position_name}") %></td>
        <td>
          <% assigned_schedules = schedules.select { |schedule| schedule.position_id == position.id } %>
          <% if assigned_schedules.present? %>
            <% assigned_schedules.each do |schedule| %>
              <span><%= schedule.cast.full_name %></span><br>
            <% end %>
          <% else %>
            <span>割り当てなし</span>
          <% end %>
        </td>
        <% if can?(:create, Schedule) || can?(:destroy, Schedule) %>
        <td>
        <% assigned_schedules.each do |schedule| %>
          <% if can?(:destroy, schedule) %>
            <%= link_to '外す', remove_position_schedule_schedule_path(schedule), data: { turbo_method: :delete }, class: 'btn' %><br>
          <% end %>
        <% end %>
          <% if can?(:create, Schedule) && assigned_schedules.count < position.capacity %>
            <%= link_to '配置', new_position_schedule_schedules_path(position_id: position.id, date: @date, time_slot: time_slot), class: 'btn' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </table>

  <%# ここに休憩スケジュールの表示を追加 %>
  <h3>休憩時間</h3>
  <table>
    <tr>
      <th>キャスト名</th>
      <th>開始時間</th>
      <th>終了時間</th>
    </tr>
    <% schedules.each do |schedule| %>
      <% if schedule.position.position_name == 'brake' %>
        <tr>
          <td><%= schedule.cast.full_name %></td>
          <td><%= schedule.start_time.strftime("%H:%M") %></td>
          <td><%= schedule.end_time.strftime("%H:%M") %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>