
<h1>ポジション一覧 - <%= @date %></h1>
<h2><%= Schedule::TIME_SLOTS[@time_slot]&.first || '未定義のタイムスロット' %></h2>
<table>
  <tr>
    <th>ポジション名</th>
    <th>キャスト名</th>
  </tr>
  <% @positions.each do |position| %>
    <tr>
      <td><%= t("activerecord.attributes.position.#{position.position_name}") %></td>
      <td>
        <% @schedules.each do |schedule| %>
          <% if schedule.position_id == position.id %>
            <%= schedule.cast.full_name %><br>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h3>休憩時間</h3>
<table>
  <tr>
    <th>キャスト名</th>
    <th>開始時間</th>
    <th>終了時間</th>
  </tr>
  <% @schedules.each do |schedule| %>
    <% if schedule.position.position_name == 'brake' %>
      <tr>
        <td><%= schedule.cast.full_name %></td>
        <td><%= schedule.start_time.strftime("%H:%M") %></td>
        <td><%= schedule.end_time.strftime("%H:%M") %></td>
      </tr>
    <% end %>
  <% end %>
</table>