<h1><%= @schedule.cast.full_name %>のスケジュール変更</h1>

<%= form_with(model: @schedule, local: true) do |form| %>
  <%= render 'layouts/error_messages', model: @schedule %>

  <div id="schedule_data" data-cast-id="<%= @schedule.cast_id %>" data-workday-id="<%= @schedule.workday_id %>"></div>

  <div class="field">
    <%= form.label :position_id %>
    <%= form.collection_select :position_id, Position.all, :id, :position_name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :workday_id %>
    <%= form.collection_select :workday_id, Workday.all, :id, :date, include_blank: true %>
  </div>

  <%= form.label :time_slot, "時間帯" %>
  <%= form.select :time_slot, Schedule::TIME_SLOTS.keys.map { |slot| [Schedule::TIME_SLOTS[slot].first, slot] }, { include_blank: true } %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'edit_schedule' %>