<h1>スケジュール一覧</h1>
<h2>スケジュール追加</h2>

<%= link_to '新規スケジュールを追加', new_schedule_path %>

<table>
  <thead>
    <tr>
      <th><%= sortable "casts.family_name", "キャスト名" %></th>
      <th><%= sortable "positions.positon_name","ポジション" %></th>
      <th><%= sortable "workdays.date", "作業日" %></th>
      <th><%= sortable "start_time", "開始時間" %></th>
      <th><%= sortable "end_time", "終了時間" %></th>
      
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.cast.full_name %></td>
        <td><%= schedule.position.position_name %></td>
        <td><%= schedule.workday.date.strftime("%Y-%m-%d") %></td>
        <td><%= Schedule::TIME_SLOTS[schedule.time_slot] ? Schedule::TIME_SLOTS[schedule.time_slot].first : "時間未設定" %></td>
        <td>
          <%= link_to '編集', edit_schedule_path(schedule) %>
          <%= link_to '削除', schedule,data: { turbo_method: :delete, confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>