<h1>勤務日・勤務時間編集</h1>

<%= form_with(model: @workday, local: true) do |form| %>
   <%= render 'layouts/error_messages', model: @workday %>

  <div class="field">
    <%= form.label :cast_id %>
    <%= form.select :cast_id, @casts, { include_blank: true } %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :time_slot, "時間帯" %>
    <%= form.select :time_slot, Workday::TIME_SLOTS.keys.map { |slot| [Workday::TIME_SLOTS[slot].first, slot] }, { include_blank: true } %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>

<%= link_to '戻る', workdays_path %>