<h1>スケジュール一覧</h1>
<h2>スケジュール管理</h2>
<%= link_to "スケジュールを追加", new_workday_path %>
<table>
  <thead>
    <tr>
      <th><%= sortable "casts.family_name", "キャスト名" %></th>
      <th><%= sortable "date", "日付" %></th>
      <th><%= sortable "start_time", "開始時間" %></th>
      <th><%= sortable "end_time", "終了時間" %></th>
      
    </tr>
  </thead>
  <tbody>
    <% @workdays.each do |workday| %>
      <tr>
        <td><%= link_to workday.cast.full_name, edit_workday_path(workday)  %></td> 
        <td><%= workday.date.strftime("%Y-%m-%d") %></td>
        <td><%= workday.start_time.strftime("%H:%M") %></td> 
        <td><%= workday.end_time.strftime("%H:%M") %></td> 
        <td>
          <%= link_to '編集', edit_workday_path(workday) %>
          <%= link_to '削除', workday, data: { turbo_method: :delete, confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>