<%# casts/index.html.erb %>

<div class="casts-index">
  <div class="cast-index-title">キャスト一覧</div>
  <div class="casts-index-casts">
    <table >
        <tr>
          <th><%= sortable "company_id", "ID" %></th>
          <th><%= sortable "name", "名前" %></th>
          <th>皿仕分け</th>
          <th>皿洗い</th>
          <th>皿流し</th>
          <th>皿拭き</th>
          <th>器具洗い</th>
          <th>器具流し</th>
          <th>器具フキ</th>
          <th>シルバー磨き</th>
        </tr>
         <% @casts.each do |cast| %>
        <tr>
          <td><%= cast.company_id %>
          <td>
            <% if can?(:edit, cast) && current_cast.admin? %>
              <%= link_to cast.family_name + cast.first_name, cast_path(cast.company_id) %>
            <% else %>
              <%= cast.family_name + cast.first_name %>
            <% end %>
          </td>
          <td><%= cast.sara_shiwake_skill.name %></td> 
          <td><%= cast.sara_arai_skill.name %></td> 
          <td><%= cast.sara_nagashi_skill.name %></td>
          <td><%= cast.sara_huki_skill.name %></td>
          <td><%= cast.kigu_arai_skill.name %></td>
          <td><%= cast.kigu_nagashi_skill.name %></td>
          <td><%= cast.kigu_huki_skill.name %></td>
          <td><%= cast.silver_migaki_skill.name %></td>
          <td><%= link_to '編集', edit_cast_path(cast.company_id) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>




