<div class="side-bar">
  <div class="side-bar-discription">  
    <div class="login-logout">
      <% if cast_signed_in? %>
        <div class="account-actions">
          <%= link_to 'アカウント情報の編集', edit_cast_registration_path, class: 'edit-account' %>
          <%= link_to 'ログアウト', destroy_cast_session_path, data: { turbo_method: :delete }, class: 'logout' %>
        </div>
      <% else %>
        <div class="account-actions">
          <%= link_to 'サインアップ', new_cast_registration_path, class: 'signup' %>
          <%= link_to 'ログイン', new_cast_session_path, class: 'login' %>
        </div>
      <% end %>
    </div>

    <div class="schedules">
      <%= link_to 'スケジュール',workdays_path, class: 'schedule-title' %>
      <div class="schedule">
        <div class="schedule-name">
          <%= link_to'・今日',positions_path, class: 'today_positions' %>
        </div>
        <div class="schedule-name">
          <%= link_to'・明日',show_tomorrow_positions_path, class: 'tomorrow_positions' %>
        </div>
        <div class="schedule-name">
          <%= link_to'・明後日',show_day_after_tomorrow_positions_path, class: 'tomorrow_positions' %>
        </div>
      </div>
    </div>
    <div class="positions">
      <%= link_to 'ポジション表示',positions_path, class: 'position-title' %>
      <div class="position">
        <div class="position-time">
          <a href="#">~9:00</a>
        </div>
        <div class="position-time">
          <a href="#">11:00~13:00</a>
        </div>
        <div class="position-time">
          <a href="#">13:00~15:00</a>
        </div>
        <div class="position-time">
          <a href="#">15:00~17:00</a>
        </div>
        <div class="position-time">
          <a href="#">17:00~19:00</a>
        </div>
        <div class="position-time">
          <a href="#">19:00~21:00</a>
        </div>
        <div class="position-time">
          <a href="#">21:00~</a>
        </div>
      </div>
    </div>
    <div class="casts">
        <a href="<%= casts_path %>" class="cast-title" >キャスト一覧</a>
      <div class="cast">
        <div class="cast-name">
          <a href="">・ネコさん</a>
        </div>
        <div class="cast-name">
          <a href="">・イヌさん</a>
        </div>
        <div class="cast-name">
          <a href="">・アヒルさん</a>
        </div>
        <div class="cast-name">
          <a href="">・ウサギさん</a>
        </div>
        <div class="cast-name">
          <a href="">・サメさん</a>
        </div>
        <div class="cast-name">
          <a href="">・オオカミさん</a>
        </div>
        <div class="cast-name">
          <a href="">・キツネさん</a>
        </div>
        <div class="cast-name">
          <a href="">・ヒツジさん</a>
        </div>
        <div class="cast-name">
          <a href="">・ライオンさん</a>
        </div>
        <div class="cast-name">
          <a href="">・シャチさん</a>
        </div>
      </div>
    </div>    
  </div>
</div>