

<div class="side-bar">
  <div class="side-bar-discription">  
    <div class="login-logout">
      <% if cast_signed_in? %>
        <div class="account-actions">
          <%= link_to 'アカウント情報の編集', edit_cast_registration_path, class: 'edit-account' %>
          <%= link_to 'ログアウト', destroy_cast_session_path, data: { turbo_method: :delete }, class: 'logout' %>
        </div>
      <% else %>
        <div class="account-actions">
          <%= link_to 'サインアップ', new_cast_registration_path, class: 'signup' %>
          <%= link_to 'ログイン', new_cast_session_path, class: 'login' %>
        </div>
      <% end %>
    </div>

    <div class="schedules">
      <%= link_to 'スケジュール',workdays_path, class: 'schedule-title' %>
      <div class="schedule">
        <div class="schedule-name">
          <%= link_to'・今日',positions_path, class: 'today_positions' %>
        </div>
        <div class="schedule-name">
          <%= link_to'・明日',show_tomorrow_positions_path, class: 'tomorrow_positions' %>
        </div>
        <div class="schedule-name">
          <%= link_to'・明後日',show_day_after_tomorrow_positions_path, class: 'tomorrow_positions' %>
        </div>
      </div>
    </div>
  
    <div class="positions">
      <%= link_to 'ポジション表示', positions_path, class: 'position-title' %>
      <div class="position">
        <% Schedule::TIME_SLOTS.keys.each do |time_slot| %>
          <div class="position-time">
            <%= link_to Schedule::TIME_SLOTS[time_slot]&.first, show_by_time_slot_path(time_slot) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="casts">
        <a href="<%= casts_path %>" class="cast-title" >キャスト一覧</a>
      <div class="cast">
        <div class="cast-name">
          本日出勤中のキャストの情報を表示
        </div>
      </div>
    </div>    
  </div>
</div>